<%= form_for @command, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :json, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :json, :class => 'text_field form-control' %>
    </div>
    <%= link_to '取得', '#', class: 'btn btn-primary js-get-ir' %>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  commands_path, :class => 'btn btn-default' %>
    </div>
  </div>

<script>
$(document).on('click', '.js-get-ir', function(e){
  e.preventDefault();
  $.ajax({
    type: 'GET',
    url: '<%= irkit_get_path %>',
    success: function(data) {
      console.log(data);
      if (data.json) {
        $('#command_json').val(data.json);
      } else {
        alrt('取得できませんでした。');
      }
    }
  });
});
</script>
<% end %>
